# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
django_errors.log
media/
photos/
static/

# Environments
venv/
.venv/
.venve/
env/
ENV/

# Environment Variables
.env
.env.dev

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Machine Learning Models
ml_models/

# Pytest & Coverage
.coverage
.pytest_cache/
htmlcov/


test_user.py